@font-face {
   font-family: 'LibreBodoni-Bold';
   font-display: swap;
   src: url('file:///C:/Users/T44/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-01-04_113037/fonts/LibreBodoni-Bold/font.ttf');
}
