@font-face {
   font-family: 'Tenor Sans';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/T44/Documents/GitHub/gallery2305/fonts/Tenor Sans/regular.ttf') format('truetype');
}
